div.EditItemWrapper {
  border: 2px dotted black;
  padding: 32px;
  margin: 20px;
}

div.EditItemWrapper form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}
