li.ItemWrapper {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  border-top: 2px dotted black;
  padding: 20px 24px 8px;

  position: relative;
}

li.ItemWrapper h2 {
  text-transform: capitalize;
}

div.InfoContainer {
  display: flex;
  justify-content: space-between;
}

div.ContentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/* Upvote */

span.Upvote {
  display: flex;
  align-items: center;

  color: #f66;
  transition: 0.2s;
  cursor: pointer;
}

span.Upvote:hover {
  transform: scale(1.4);
}

span.Upvote_disabled {
  color: #bbb;
  transition: 0.2s;
}

span.Upvote_disabled:hover {
  cursor: not-allowed;
}

div.ContentRow h3 {
  font-size: 16px;
}

span.InProgressIcon {
  display: flex;
  align-items: center;

  color: #bbb;
}

span.DoneIcon {
  display: flex;
  align-items: center;

  color: #60b860;
}
