* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/background.png");
  height: 100svh;
  padding: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
