* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: monospace;
}

body {
  background-image: url("/background.png");
  height: 100svh;
  padding: 10px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--font-0210);
  font-size: 12vw;
  line-height: 0.9;
  word-wrap: break-word;
  color: rgb(158, 212, 194);
}
